#container {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  background-color: rgb(2, 2, 82); /* cor azul escura */
  padding: 10px 30px;
  border-bottom-left-radius: 20px; /* canto arredondado esquerdo */
  border-bottom-right-radius: 20px; /* canto arredondado direito */
}
  
#profile img {
  display: flex;
  justify-content:start;
  height: 90px; /* ajusta o tamanho da logo */
}
  
#container nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
  
#container nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase
}

body{
  margin: 0;
  padding: 0;
  font-family: Arial, serif;
}

.container1 {
  max-width: 850px;
  margin: 40px auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
  color: #000000;
  text-align: center;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: rgb(2, 2, 82);
}

h3 {
  color: rgb(2, 2, 82);
  text-align: center;
}

p{
  color: #000000;
}

/* MENU LINKS */
.menu-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.menu-links .card {
  text-decoration: none;
  background-color: #0b037a;
  padding: 12px 18px;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease, transform 0.2s ease;
  min-width: 50px;
  text-align: center;
}

.menu-links .card:hover {
  background-color: #dbe9ff;
  transform: translateY(-3px);
}

.secao {
  max-width: 900px;
  margin: 20px 40px 20px 40px;/* margem à esquerda */
  text-align: left;
  color: #ffffff; /* ajuste conforme fundo */
}